.button {
    position: relative;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 2rem;
    overflow: clip;
    .arrow-top {
        vertical-align: bottom;
        position: relative;
        transition: all ease 300ms;
    }
    .arrow-bottom {
        position: absolute;
        right: 24px;
        transform: translate(-35px, 35px);
        transition: all ease 300ms;
    }
    &:hover .arrow-top {
        transform: translate(35px,-35px);
    }
    &:hover .arrow-bottom {
        transform: translate(0px,0px);
    }
}
.button-dark {
    color: $white;
    background-color: $black;
}
.button-light {
    color: $black;
    background-color: $white;
}